<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manhã Beneficente - Transparência</title>
  <link rel="stylesheet" href="{% static 'style_v2.css' %}">

  <link rel="icon" href="{% static 'Imagens/logo_manha.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

  <!-- HEADER -->
  <header id="menu">
    <div class="menu-container">
      <a href="{% url 'index' %}">
        <img id="logotipo" src="{% static 'Imagens/Logo_Manha_azul.png' %}" alt="Logotipo da Manhã Beneficente">
      </a>
      <nav class="op">
        <a href="{% url 'index' %}" >Início</a>
<a href="{% url 'quemsomos' %}">Quem Somos</a>
<a href="{% url 'contatos' %}">Contatos</a>
<a href="{% url 'acoes' %}">Ações Realizadas</a>
<a href="{% url 'transparencia' %}" class="ativo">Transparência</a>
      </nav>
    </div>
  </header>

  <!-- CONTEÚDO -->
  <main class="transparencia-container">
    <section class="cabecalho-centralizado">
      <h1>Transparência</h1>
      <p>Acompanhe de forma clara e objetiva o impacto das nossas ações.</p>
    </section>

    {% if registro %}
    <section class="dados-transparencia">
      <div class="dado">
        <i class="fas fa-box"></i>
        <h2>+{{ registro.cestas_basicas }}</h2>
        <p>Cestas Básicas Entregues</p>
      </div>

      <div class="dado">
        <i class="fas fa-tshirt"></i>
        <h2>+{{ registro.roupas }}</h2>
        <p>Peças de Roupas Doada</p>
      </div>

      <div class="dado">
        <i class="fas fa-tint"></i>
        <h2>+{{ registro.agua_mineral_litros }} L</h2>
        <p>Água Mineral Distribuída</p>
      </div>

      <div class="dado">
        <i class="fas fa-users"></i>
        <h2>+{{ registro.familias_impactadas }}</h2>
        <p>Pessoas Impactadas</p>
      </div>
    </section>
    {% else %}
      <p style="text-align:center;">Ainda não há registros cadastrados.</p>
    {% endif %}
  </main>

  <a href="https://wa.me/5521976817615?text=Olá Gostei muito do seu projeto, gostaria de saber mais" class="whatsapp-float" target="_blank">
    <i class="fab fa-whatsapp"></i>
  </a>

  <!-- FOOTER -->
  <footer>
    <div class="footer-container">
      <p class="footer-text">© 2025 Manhã Beneficente. Todos os direitos reservados.</p>
      
      <a href="/admin/" style="font-size: 12px; color: inherit; text-decoration: none; margin-left: 10px;">Administrador</a>

      <div class="footer-social">
        <a href="https://www.instagram.com/manha_beneficente/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/5521976817615?text=Olá Gostei muito do seu projeto, gostaria de saber mais" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <a href="mailto:manhabeneficente@hotmail.com"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
  </footer>

</body>
</html>
